# Ignore node modules (dependencies)
node_modules/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store

# Ignore optional IDE files
.vscode/
.idea/
